 {% extends 'base.html' %}
 {% block content%}
<div class ="container col-lg-4 border rounded  form-control-sm ">
    <h3 class="alert alert-red border rounded">Create an Account</h3>
    <form action="/Signup" method="POST">

    {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
   <div class="mb-3  ">
    <label for="exampleInputEmail1" class="form-label ">First Name</label>
    <input class="form-control form-control-sm" value="{{values.first_name}}" type="text" name="firstname" aria-label=".form-control-sm example">
  </div>

   <div class="mb-3 ">
    <label for="exampleInputEmail1" class="form-label">Last Name</label>
    <input class="form-control form-control-sm" value="{{values.last_name}}"type="text" name="lastname" aria-label=".form-control-sm example">
  </div>


  <div class="mb-3 ">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input required type="email" value="{{values.email}}"class="form-control form-control-sm" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control form-control-sm" id="*****">
  </div>

     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
    <input type="integer" value="{{values.phone}}"class="form-control form-control-sm" name="Phone" id="exampleInputPassword1">
  </div>

   <div class="form-group">
       <input class="btn btn-sm btn-info" type="submit" value="Sign Up ">
   </div>
</form>

</div>
 {% endblock %}